<!DOCTYPE   html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-component">
            {{>header}}
            <p>This site is created by Anju Maria using mapbox and weatherstack Api's.</p>
            <img class="portrait" src="img/robot.png"> 
        </div>
        
        {{>footer}}
    </body>
</html>